
body {
    font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(#232527, #303336);
    color: #d6d6ee;
    padding: 20px 20px;
}

.menu-header {
    background-color: #383d43;
}

input[type='text'] {
    margin: 10px 0px;
    padding: 20px 20px;
    width: 100%;
    border-radius: 5px;
    border: solid 1.2px #6d7378;
    background-color: #232527;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    transition: all 0.2s;
}

    input[type='text']:focus {
        outline-color: #a1a6aa;
        transition: all 0.2s;
    }

button:focus {
    outline-color: none;
}


button {
    padding: 20px 20px;
    margin-right: 30px;
    border-radius: 5px;
    border: solid 2px #ff7f00;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    transition: all 0.2s;
    background: #363028;
}
    button:hover {
        cursor: pointer;
        background-color: #ff7f00;
        color: #000;
        transition: all 0.2s;
    }

a:hover {
    cursor: pointer;
}

#balance {
    font-weight: 100;
    overflow: hidden;    
}
#bal0 {
    float: left;
}
#bal1 {
    color: #fff;
    font-size: 55px;
    float: left;
}
#bal2 {
    color: #aaa;
    font-size: 50px;
    float: left;
}

#keydump {
    padding: 20px 20px;
    width: 100%;
    border-radius: 3px;
    border: solid 1.2px #6d7378;
    background-color: #232527;
    font-weight: 100;
    font-size: 9px;
    color: #fff;
}

.menuitem {
    font-size: 20px;
    padding-right: 10px;

}

h2 {
    font-weight: 300;
    font-size: 35px;
    margin: 20px 0px 20px 0px;
}


#logo {
    height: 60px;
    float: left;
    padding-top: 10px;
}
